{% extends 'base.html.twig' %}
{% block stylesheet %}
<script src="https://use.fontawesome.com/releases/v5.11.2/js/all.js"></script>
{% endblock %}


{% block content %}

                    <h3 class="title_tab"> Gestionnaire de tableaux</h3>

<a href="{{ path('image_add') }}" class="btn_post">Ajouter une image</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" class="text-center">ID</th>
            <th scope="col" class="text-center">Nom</th>
            <th scope="col" class="text-center">Categorie</th>
            <th scope="col" class="text-center">image</th>
            <th colspans="2" scope="col" class="text-center">actions</th>
        </tr>
    </thead>
    <tbody>
        {% for p in images %}
        <tr style="text-align: center;">
            <th scope="row">{{p.id}}</td>
            <td>{{p.nom}}</td>
            <td>{{p.categorie}}</td>
            <td><img src="{{ asset('/photo/' ~ p.image) }}" height="80px" /></td>

            <td><a href="{{path('admin_image_delete',{'id':p.id})}}"><i class="fas fa-trash-alt"></i></a></td>
            <td><a href="{{path('admin_image_update',{'id':p.id})}}"><i class="fas fa-edit"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}