{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}
{% block content %}

{# {% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/turco/OneDrive/Documents/Ynov/B1/ytrack/Challenge48h/src/Controller/UserController.php'|file_link(0) }}">src/Controller/UserController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/turco/OneDrive/Documents/Ynov/B1/ytrack/Challenge48h/templates/user/index.html.twig'|file_link(0) }}">templates/user/index.html.twig</a></code></li>
    </ul>
</div> #}
                    <h3 class="title_tab"> Gestionnaire de tableaux</h3>

    {# <table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Email</th>
        <th scope="col">Image</th>
        <th scope="col">Update</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td></td>
            <td>
                <input type="button" value="ajouter"/>
                <input type="button" value="edit"/>
                <input type="button" value="supprimer"/>
            </td>
        </tr>
        
    </tbody>
    </table> #}

    <a href="{{ path('image_add') }}" class="btn btn-primary m-5">Ajouter un post</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="text-center">ID</th>
                <th scope="col" class="text-center">image</th>
                <th scope="col" class="text-center">Utilisateur</th>
                <th scope="col" class="text-center">Titre</th>
                <th scope="col" class="text-center">Contenu</th>
                <th colspans="2" scope="col" class="text-center">actions</th>
            </tr>
        </thead>
        <tbody>
            {% for img in images %}
            <tr style="text-align: center;">
                <th scope="row">{{img.id}}</td>
                <td><img src="{{ asset('/photo/' ~ img.image) }}" height="80px" /></td>

                <td>{{img.user}}</td>
                <td>{{img.title}}</td>
                <td>{{img.content | slice(0,65)}}</td>
                <td><a href="{{path('admin_image_delete',{'id':img.id})}}"><i class="fas fa-trash-alt"></i></a></td>
                <td><a href="{{path('admin_image_update',{'id':img.id})}}"><i class="fas fa-edit"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
