{% extends 'base.html.twig' %}

{% block content %}

    <section class="container_login">

        <div class="block_title_login">
            <p> Inscription</p>
        </div>
		{#{{ form(userForm) }}#}

		{{ form_start(userForm) }}

		{{ form_row(userForm.email, { 'attr' : {
			'class' : 'form-group'
		}}) }}

		{{ form_label(userForm.nom) }}
		{{ form_widget(userForm.nom, { 'attr' : {
			'placeholder' : 'Thomas',
			'class' : 'form-group'
		}}) }}

		{{ form_row(userForm.prenom, { 'attr': {
			'class' : 'form-group'
		}}) }}

		{{ form_row(userForm.password, { 'attr': {
			'class' : 'form-group'
		}}) }}		

		{{ form_end(userForm) }}

		<input class="form-check-input" type="checkbox" value="" id="check" required>
		<label class="form-check-label" for="check"  >
			<small>By submitting this form you agree to our <a href="#">terms and conditions</a></small>
		</label>

		<p>Vous avez déjà un compte ? <a href="{{  path('login') }}">Connectez-vous !<a/></p>
		
	</section>

{% endblock %}